<% require 'faker' %>
<div style="margin:50px;">

<!-- tweet form starts here -->
<script>
$(document).ready(function() {
    var text_max = 140;
    $('#textarea_feedback').html(text_max + ' characters remaining');

    $('#textarea').keyup(function() {
        var text_length = $('#textarea').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback').html(text_remaining + ' characters remaining');
    });
});

</script>

<form action="/users/<%= @@USER_ID %>/tweets/" method="post">



  <textarea id="textarea" autofocus name="post"  maxlength="140" required rows="4" cols="50">What's happening <%= @user.name %>?</textarea>
<div id="textarea_feedback"></div>








  <br>
  <input type="submit" value="Submit">
</form>
<!-- tweet form ends here -->

</div>





