<h1>New User Registration</h1>

<% error_message = "" %>
<% if @error == 'dupe_email' %>
  <% error_message = "There is already a user account registered with that email address" %>
<% elsif @error == 'dupe_user' %>
  <% error_message = "The requested username has already been taken.  Please select a new username" %>
<% end %>

<%= error_message %>
<form action="/users" method="POST">
  Full Name: <input type="text" name="name" required><br>
  Email:     <input type="email" name="email" required><br>
  Username:  <input type="text" name="username" required><br>
  Password:  <input type="password" name="password" required><br>
  <input type="submit" value="Sign Me Up!">
</form>
