<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2>Register Now...</h2>
        <%= erb :_registration_form %>
  </div>

</div> <!-- /container -->


