<h1>New User Registration</h1>

<form action="/users" method="POST">
  Full Name: <input type="text" name="name" required><br>
  Email:     <input type="email" name="email" required><br>
  Username:  <input type="text" name="username" required><br>
  Password:  <input type="password" name="password" required><br>
  <input type="submit" value="Sign Me Up!">
</form>
