<h2>You are being followed <%= @user.followers.length %> users</h2>

<ul><% @user.followers.each do |followers|%>
<li> <a href="/users/<%= followers.id %>"></a><%= followers.username%> </li>

<%end%>
</ul>
