<% error_message = "" %>
<% if @error == 'dupe_email' %>
  <% error_message = "There is already a user account registered with that email address" %>
<br>
<div class="alert alert-danger" role="alert">Ohh snap!! <%= error_message %></div>
<br>

<% elsif @error == 'dupe_user' %>
  <% error_message = "The requested username has already been taken.  Please select a new username" %>
<br>
<div class="alert alert-danger" role="alert">Ohh snap!! <%= error_message %></div>
<br>
  
<% end %>


<form action="/users" method="POST">
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Enter name">
  </fieldset>




  <fieldset class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>

  <fieldset class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputUsername1" placeholder="Enter username">
  </fieldset>



  <fieldset class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </fieldset>
  

  <button type="submit" class="btn btn-primary">Register</button>
</form>