
<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h3>Welcome to our most awesome</h3>
    <h1>Twitter App</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <div class="col-sm-6" >
    <div class="page-header">
      <h1>Register Now!</h1>
    </div>
    <%= erb :_registration_form %>
  </div>


  <div class="col-sm-6">          
    <div class="page-header">
      <h1>Login Here!</h1>
    </div>
    <%= erb :_login_form %>
  </div>


</div> <!-- /container -->