
<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h3>Welcome to our most awesome</h3>
    <h1>Twitter App</h1>
    <p>Login Now</p>
        <%= erb :_login_form %>
  </div>


</div> <!-- /container -->


