
<div class="container theme-showcase"  role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h3>Welcome to our most awesome</h3>
    <h1>Twitter App</h1>
  </div>

    <div class="col-sm-6" >
    <h3>Login Now</h3>
    <br>
    <%= erb :_login_form %>
  </div>
  <div class="col-sm-6" >
    <h3>Not a member, yet?</h3>
    <br>
    <p>Click below to register. It is easy and free...</p>

    <p><a href="/users/new" class="btn btn-primary" role="button">Register Now!</a></p>



  </div>


</div> <!-- /container -->
